[submodule "src/kubernetes"]
	path = src/kubernetes
	url = https://github.com/GoogleCloudPlatform/kubernetes.git
[submodule "src/etcd-release"]
	path = src/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release.git
[submodule "src/docker-boshrelease"]
	path = src/docker-boshrelease
	url = https://github.com/cloudfoundry-community/docker-boshrelease.git
