[submodule "src/flannel"]
	path = src/flannel
	url = https://github.com/coreos/flannel.git
[submodule "src/kubernetes"]
	path = src/kubernetes
	url = https://github.com/GoogleCloudPlatform/kubernetes.git
[submodule "src/etcd-release"]
	path = src/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release.git
